

<link rel="stylesheet" href="~/css/mainwindow.css" />
<link rel="stylesheet" href="~/css/rate.css" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
@using diplom.Models.ViewModels
@model ULVM;
<body style="background-color:#a6a6a6!important;margin-top:10%">
    <header class="_header" style="background: linear-gradient(to bottom right,#F9D86E,#EDC237);">
        <div class="logo">
            <a href="/Home/MainPage" class="company-name">Dairy Delights Emporium</a>
        </div>
        <div class="mogo">
            <a href="/Home/AboutUsPage"><img src="~/img/Group 84(11).png" style="height:180px;width:180px;margin-top:-5px;" /></a>
        </div>
        <div class="header-buttons">
           
        </div>
    </header>
    <form method="get" >
    <input type="text" name="searchQuery" placeholder="Искать в магазине" class="search-bar" />
    </form>
  <div class="row" style="flex-wrap: wrap; display: flex; min-width: fit-content;">
    @foreach (var user in Model.Users)
    {
        <div class="col-md-3 mb-4" style="margin-right: 1%; margin-top: 1%">
            <div class="user-info" style="border: 1px solid #ccc; padding: 10px; display: table-caption;">
                    <div class="user-info" style="width: 189px;">
                    <p><strong>ID:</strong> @user.IdUser</p>
                        <textarea style="width: 182px;" name="userName">@user.User_name</textarea>
                        <textarea style="width: 182px;" name="surname">@user.Surname</textarea>
                        <textarea style="width: 182px;" name="email">@user.Email</textarea>
                        <textarea style="width: 182px;" name="phoneNumber">@user.PhoneNumber</textarea>
                    
                        <center style="display: flex;width: 87px;">
                        <button class="edit-user-btn" data-user-id="@user.IdUser">Сохранить</button>
                        <button class="delete-user-btn" data-user-id="@user.IdUser">Удалить пользователя</button>
                    </center>
                </div>
            </div>
        </div>
    }
</div>

    @if (Model.HasUsers)
    {
        <div class="pagination" style="grid-column:2;margin-top:20px">
            @if (Model.UserPageNumber > 1)
            {
                <a class="prev page-numbers" href="@Url.Action("AllUsers", new { pageNumber = Model.UserPageNumber - 1, pageSize = ViewBag.PageSize })">« Предыдущая</a>
            }

            <!-- Display the first page -->
            <a class="page-numbers @(1 == Model.UserPageNumber ? "current" : "")" href="@Url.Action("AllUsers", new { pageNumber = 1, pageSize = ViewBag.PageSize })">1</a>

            @if (Model.UserPageNumber > 4)
            {
                <span class="page-numbers">...</span>
            }

            <!-- Display pages around the current page -->
            @for (int i = Math.Max(2, Model.UserPageNumber - 2); i <= Math.Min(Model.UserPageNumber + 2, Model.UserTotalPages - 1); i++)
            {
                <a class="page-numbers @(i == Model.UserPageNumber ? "current" : "")" href="@Url.Action("AllUsers", new { pageNumber = i, pageSize = ViewBag.PageSize })">@i</a>
            }

            @if (Model.UserPageNumber < Model.UserTotalPages - 2)
            {
                <span class="page-numbers">...</span>
            }

            <!-- Display the last page -->
            @if (Model.UserTotalPages > 1)
            {
                <a class="page-numbers @(Model.UserTotalPages == Model.UserPageNumber ? "current" : "")" href="@Url.Action("AllUsers", new { pageNumber = Model.UserTotalPages, pageSize = ViewBag.PageSize })">@Model.UserTotalPages</a>
            }

            @if (Model.UserPageNumber < Model.UserTotalPages)
            {
                <a class="next page-numbers" href="@Url.Action("AllUsers", new { pageNumber = Model.UserPageNumber + 1, pageSize = ViewBag.PageSize })">Следующая »</a>
            }
        </div>
    }


    <script>
        $(document).ready(function () {
            $('.page-numbers').on('click', function () {
                $('.page-numbers').removeClass('current');
                $(this).addClass('current');
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            $(".delete-user-btn").click(function () {
                var userId = $(this).data("user-id");

                // Отправляем AJAX-запрос на сервер для удаления пользователя
                $.ajax({
                    url: "/Home/DeleteUser",
                    type: "POST",
                    data: { userId: userId },
                    success: function (result) {
                        if (result.success) {
                            // Успешное удаление пользователя
                            console.log(result.message); // Лог для отладки
                            alert("Пользователь удален."); // Отобразить сообщение об успешном удалении
                        } else {
                            // Не удалось удалить пользователя из-за активных заказов
                            console.log(result.message); // Лог для отладки
                            alert(result.message); // Отобразить сообщение об ошибке
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Ошибка удаления пользователя:", error);
                        if (xhr.status === 403 && xhr.responseText) {
                            // Обработка ошибки 403, когда невозможно удалить пользователя с ролью админ
                            alert(xhr.responseText); // Отобразить текст ошибки 403
                        } else if (xhr.status === 500 && xhr.responseText) {
                            // Обработка ошибки 500
                            alert(xhr.responseText); // Отобразить текст ошибки 500
                        } else {
                            // Обработка других ошибок
                            alert("Произошла ошибка при удалении пользователя."); // Отобразить общее сообщение об ошибке
                        }
                    }
                });
            });
        });
    </script>

    <script>
        $(".edit-user-btn").click(function () {
            var userId = $(this).data("user-id");
            var userName = $(this).closest(".user-info").find("textarea[name='userName']").val().trim();
            var surname = $(this).closest(".user-info").find("textarea[name='surname']").val().trim();
            var email = $(this).closest(".user-info").find("textarea[name='email']").val().trim();
            var phoneNumber = $(this).closest(".user-info").find("textarea[name='phoneNumber']").val().trim();

            // Проверка пустых полей
            if (!userName || !surname || !email || !phoneNumber) {
                alert("Все поля должны быть заполнены.");
                return;
            }

            // Проверка на цифры в имени и фамилии
            var nameValidation = /[0-9]/;
            if (nameValidation.test(userName) || nameValidation.test(surname)) {
                alert("Имя и фамилия не должны содержать цифры.");
                return;
            }

            // Проверка длины номера телефона
            var phoneValidation = /^[0-9]{11,}$/;
            if (!phoneValidation.test(phoneNumber)) {
                alert("Номер телефона должен содержать не менее 11 цифр.");
                return;
            }

            $.ajax({
                url: "/Home/UpdateUser",
                method: "POST",
                data: {
                    userId: userId,
                    userName: userName,
                    surname: surname,
                    email: email,
                    phoneNumber: phoneNumber
                },
                success: function (response) {
                    alert("Данные пользователя успешно обновлены!");
                    // Дополнительные действия после успешного обновления данных
                },
                error: function () {
                    alert("Произошла ошибка при обновлении данных пользователя.");
                }
            });
        });
    </script>

</body>
