
@{
    ViewData["Title"] = "MainPage";
}
@model diplom.Models.ViewModels.ProductViewModel;

<link rel="stylesheet" href="~/css/mainwindow.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


<body>
    <div class="Main">

        <button id="backToTop" title="Go to top" style="display: none;">
            <i class="fa fa-angle-up"></i>
        </button>

        <!-- Модальное окно -->
        
        <div id="modal" class="modal" style="overflow-y:hidden">
            <!-- Модальный контент -->
            <div class="modal-content">
                @using (Html.BeginForm("MainPage","",FormMethod.Post))
                {
                <div id="loginContent">
                    <span class="close">&times;</span>
                    <h2>Авторизация</h2>
                        @Html.TextBox("phoneLogin","")
                    @Html.TextBox("password","")
                    <button id="loginButton">Войти</button>
                    <button id="switchToRegister">Регистрация</button>
                </div>}
                <div id="registerContent" style="display:none;">
                    <span class="close">&times;</span>
                    <h2>Регистрация</h2>
                    <input type="text" placeholder="Email">
                    <input type="password" placeholder="Пароль">
                    <input type="password" placeholder="Повторите пароль">
                    <input type="text" id="phoneRegister" maxlength="10" placeholder="Номер телефона">
                    <input type="text" placeholder="Ваш город" required>
                    <button id="registerButton">Зарегистрироваться</button>
                </div>

               

            </div>
        </div>

        
        <div id="myModal1" class="modal1" style="overflow-x:hidden">
            <div class="modal-content1">
                <span class="close">&times;</span>
                <h1>Политика Конфиденциальности Интернет-Магазина "Dairy Delights Emporium"</h1>
                <p>Дата вступления в силу: 13.05.2004</p>
                <h1>1. Общие положения</h1>
                <p>Настоящая Политика конфиденциальности (далее – «Политика») действует в отношении всей информации, которую интернет-магазин "Dairy Delights Emporium", расположенный на доменном имени https://localhost:44330/, может получить о Пользователе во время использования сайта, программ и продуктов интернет-магазина.</p>
                <h1>2. Основные понятия</h1>
                <ul>
                    <li>"Оператор" – интернет-магазин "Dairy Delights Emporium", осуществляющий обработку персональных данных, а также определяющий цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия или операции, совершаемые с персональными данными.</li>
                    <li>"Персональные данные" – любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу (субъекту персональных данных).</li>
                    <li>"Пользователь" – любой посетитель веб-сайта интернет-магазина "Dairy Delights Emporium".</li>
                </ul>
                <h1>3. Принципы и цели обработки персональных данных</h1>
                <p>1.Обработка персональных данных в "Dairy Delights Emporium" осуществляется на основе принципов:</p>
                <ul>
                    <li>законности и справедливых оснований;</li>
                    <li>целесообразности обработки;</li>
                    <li>соответствия целей обработки персональных данных.</li>
                </ul>
                <p>2.Цели обработки персональных данных:</p>
                <ul>
                    <li>осуществление деятельности, предусмотренной действующим законодательством Российской Федерации;</li>
                    <li>выполнение обязательств "Dairy Delights Emporium" перед Пользователями относительно предоставления товаров и услуг.</li>
                </ul>
                <h1>4. Права субъекта персональных данных</h1>
                <p>Пользователь имеет право на получение информации касательно обработки его персональных данных. В соответствии с законодательством РФ Пользователь вправе требовать уточнения своих персональных данных, их блокирования или уничтожения в случае, если такие данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки.</p>
                <hi>5. Меры по защите персональных данных</hi>
                <p>"Dairy Delights Emporium" принимает необходимые и достаточные организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ними.</p>
                <h1>6. Изменения в Политике конфиденциальности</h1>
                <p>Оператор имеет право вносить изменения в настоящую Политику. Новая редакция Политики вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики.</p>
                <h1>7. Обратная связь. Вопросы и предложения</h1>
                <p>Все предложения, вопросы, запросы и иные обращения по поводу настоящей Политики и использования своих персональных данных Пользователи вправе направлять по адресу: DairyDelightsEmporium@mail.ru.</p>
            </div>
        </div>


        <header class="_header">
            <div class="logo">
                <a href="#" class="company-name">Dairy Delights Emporium</a>
            </div>
            <div class="mogo">
                <a href="/Home/HomePage"><img src="~/img/Group 84(11).png" style="height:180px;width:180px;margin-top:-5px;" /></a>
            </div>
            <div class="header-buttons">
                <button class="btn cart-button" style="border: 2px solid black;">
                    <i class="fas fa-shopping-basket"></i>
                </button>
                <button class="btn fav-button" style="border: 2px solid black;">
                    <i class="fas fa-heart"></i>
                </button>
                <button class="btn user-button" style="border: 2px solid black;">
                    <i class="fas fa-user"></i>
                </button>
            </div>
        </header>
        <div  >
            <img class="img1" src="/img/istockphoto-1471815457-1024x1024(2)(1).png" style="height: 1100px;width: 132%;margin-left: -270px;margin-top: -260px;z-index:-2;"/>
        </div>
        <div class="main_body">
            <form method="get">
            <div class="container1" >
                 <div class="search_bar">
                        <input type="text" name="searchQuery" placeholder="Искать в магазине" class="search-bar" />                              
                </div>
            </div>
            </form>
            <div class="container2">
                <p id="userNameDisplay"></p>
                <select name="filter" id="filter">
                    <option value="by_popularity">По популярности</option>
                    <option value="by_alphabet">По алфавиту</option>
                    <option value="cheaper">Дешевле</option>
                    <option value="expensive">Дороже</option>
                </select>
                <label class="count_product">@Model.ProductCount товар</label>
            </div>

            <div class="container3">  
                @if (Model.HasResults)
                {
                    @foreach (Product item in Model.Products)
                    {
                        <div class="col-sm-4">
                            <div class="product-card">
                                <div class="card-thumbnail">
                                    <img class="img-responsive" src="@item.product_img" style="height:300px;width:400px">
                                </div>
                                <div class="card-content">
                                    <div class="send">
                                        <img class="basket" src="/img/basket.png" />
                                        <i class="fa fa-send fa-2x"></i>
                                    </div>
                                    <h1 class="card-title">
                                        @item.Name_product
                                    </h1>
                                    <h2 class="card-sub-title">
                                        @item.product_article
                                    </h2>
                                    <p class="description">
                                        @item.product_description_
                                    </p>
                                    <p class="price">Цена: @item.product_price руб. за @item.product_weight грамм</p>
                                    <ul class="list-inline post-meta">
                                        <li class="time-stamp">
                                            <i class="fa fa-clock-o"></i> Массовая доля жира: @item.product_mass_per_fat%
                                        </li>
                                        <li class="time-stamp">
                                            <i class="fa fa-clock-o"></i> Энергетическая ценность: @item.product_fatty кДж.
                                        </li>
                                    </ul>
                                    <button class="info-button1" data-toggle="modal" data-target="#exampleModal" title="Подробнее"
                                            data-nametitle="@item.Name_product"                                            
                                            data-description="@item.product_description_"
                                            data-price="@item.product_price"
                                            data-weight="@item.product_weight"
                                            data-mass_per_fat="@item.product_mass_per_fat"
                                            data-fat="@item.product_fat"
                                            data-protein="@item.product_protein"
                                            data-fatty="@item.product_fatty"
                                            data-carb="@item.product_carb"
                                            data-energy_value="@item.product_energy_value"
                                            data-storage_life="@item.product_storage_life"
                                            data-package_id="@item.product_package_id"
                                            data-storage_conditions="@item.product_storage_conditions"
                                            data-sale="@item.product_sale"
                                            data-remain="@item.product_remain"
                                            data-article="@item.product_article"
                                            data-sostav="@item.product_sostav"
                                            data-img="@item.product_img"
                                            data-package_name=""> 
                                        <i class="fa fa-question"></i>
                                    </button>
                                    <button class="fav-button1" title="В избранное">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                </div>
                            </div>
                        </div>                       
                    }
                }
                else
                {
                    <p class="error">К сожалению, по вашему запросу ничего не найдено.</p>
                }
        </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y:hidden">
                <div class="modal-dialog">
                    <div class="modal-content2">
                        <div class="modal-header" style="font-family: 'Dancing Script', cursive;font-weight:bold;font-size:20px">
                            <h5 class="modal-title" id="exampleModalLabel" style="margin-top:-5px">
                                Информация о товаре
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: transparent;border: none;margin-top:-55px">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="margin-top:-15px;">
                                <div class="col-sm-3 tovarimg"></div>
                                <div class="col-sm-9 tovarinfo"></div>
                            </div>
                            <hr style="color: black;background: black;border: black;height: 1px;">
                            <form class="formmy">
                                
                                <div class="form-groupimg">
                                    <img id="productImage" class="img-responsive" style="width:580px;height:420px;" />
                                </div>
                                <div style="display:block;padding-left:20px;grid-column:2;grid-row:1">
                                <div class="ihih">
                                <div class="form-groupdesc">
                                    <center><label id="productNameLabel" for="exampleFormControlInput1"></label></center>
                                </div>

                                <div class="aboba">
                                <div class="form-groupprice">
                                    <center><label id="productNameLabel" for="exampleFormControlInput1"></label></center>
                                    <p id="description" class="form-control" readonly>
                                        <div style="display:flex;gap:20px;margin-top:-25px">
                                    <p id="productPrice" class="form-control" readonly></p>
                                    <p id="productWeight" class="form-control" readonly></p>
                                     </div>
                                     <p id="productSostav" style="margin-top:-10px" class="form-control" readonly></p>
                                      <p id="productArticle" class="form-control" readonly></p>                                      
                                      <div>@*для поставщика и упаковки*@
                                                    <p id="productSupplier"> </p>

                                      </div>
                                     </div>

                                </div>

                                    <div class="gf" style="display:flex">
                                    <button id="buttton" class="btn cart-button" style="border: 2px solid black;grid-row:1;grid-column:2;display:flex;align-items: center;width:200px">
                                        <i class="fas fa-shopping-basket">В корзину</i>                                       
                                    </button>
                                    <button class="btn fav-button" style="border: 2px solid black;grid-row:1;grid-column:2;margin-left:20px">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                    </div>
                                </div>
                                </div>
                                <div class="gav">
                                    <div style="display:flex">
                                    <div>
                                    <center>
                                        <p style="font-family: 'Dancing Script', cursive;font-weight: bold;">Подробная информация</p>
                                    </center>
                                    <div style="margin-top:30px">
                                    <div class="form-groupart">
                                        <p id="productMassPerFat" class="form-control" readonly></p>                                       
                                        <p id="productfat" class="form-control" readonly></p>
                                    </div>
                                    <div class="form-groupfat" style="display:flex;gap:5px;margin-top:-20px">
                                        <p>Пищевая ценность: </p>
                                        <p id="productProtein" class="form-control" readonly></p>
                                        <p id="productFatty" class="form-control" readonly></p>
                                        <p id="productCarb" class="form-control" readonly></p>
                                        <p>на 100 гр.</p>
                                    </div>
                                    <div class="form-groupfat" style="margin-top:-20px">
                                        <p id="productEnergyValue" class="form-control" readonly></p>
                                        <p id="productStorageLife" class="form-control" readonly></p>
                                    </div>
                                    </div>
                                </div>
                                        <hr style="color: black;background: black;border: black;height: 250px;width: 2px;margin-right: 10px;margin-top: 20px;">
                                        <div>
                                        <p id="productStorageConditions" class="form-control" readonly></p>
                                        </div>
                                </div>                               
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>





        <div class="container4">
                <footer class="footer">
                    <div class="footer-left col-md-4 col-sm-6">
                        <p class="about">
                            <span> О нашей компании</span> "Dairy Delights Emporium - это гурманский рай для любителей сыра. С особой страстью к мастерству и качеству, мы предлагаем эксклюзивный ассортимент сыров, от классических французских бри и камамберов до редких и экзотических вариаций со всего мира. Наша миссия — дарить неповторимый вкус и наслаждение каждому клиенту, подбирая идеальные сыры для их стола, будь то повседневный ужин или особый праздничный приём. В Cheese Delight вы найдете сыр, который удовлетворит ваш гурманский вкус и превратит каждое блюдо в произведение искусства."
                        </p>
                        <div class="icons">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="footer-center col-md-4 col-sm-6">
                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p><span> Наш адресс</span> Смоляной переулок,2</p>
                        </div>
                        <div>
                            <i class="fa fa-phone"></i>
                            <p> +7 9881 761 084</p> |
                            <p> Ежедневно с 8 до 20</p>
                        </div>
                        <div>
                            <i class="fa fa-envelope"></i>
                            <p><a href="#"> DairyDelightsEmporium@mail.ru</a></p>
                        </div>
                    </div>
                    <div class="footer-right col-md-4 col-sm-6">
                        <h2> Dairy Delights <span> Emporium</span></h2>
                        <p class="menu">
                            <a href="#"> Каталог</a> |
                            <a href="@Url.Action("AboutUsPage", "Home")" onclick="scrollToElement('mya')"> О нас</a> |
                            <a href="@Url.Action("AboutUsPage", "Home")#contacts"> Контакты</a> |
                            <a href="#myModal1" id="modalOpen"> Политика конфиденциальности</a>
                        </p>
                        <p class="name"> Dairy Delights Emporium; 2004</p>
                    </div>
                </footer>
        </div>
        </div>
        

    </div>

    <script>
        function scrollToElement(elementId) {
            var element = document.getElementById(elementId);
            if (element) {
                element.scrollIntoView({ behavior: 'smooth' });
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $('.info-button1').on('click', function () {
                var productName = $(this).data('nametitle');
                var description = $(this).data('description');
                var productImageBase64 = $(this).data('img');
                var productPrice = $(this).data('price');
                var productWeight = $(this).data('weight');
                var productMassPerFat = $(this).data('mass_per_fat');
                var productFat = $(this).data('fat');
                var productProtein = $(this).data('protein');
                var productFatty = $(this).data('fatty');
                var productCarb = $(this).data('carb');
                var productEnergyValue = $(this).data('energy_value');
                var productStorageLife = $(this).data('storage_life');
                var productPackageId = $(this).data('package_id');
                var productStorageConditions = $(this).data('storage_conditions');
                var productSale = $(this).data('sale');
                var productRemain = $(this).data('remain');
                var productArticle = $(this).data('article');
                var productSostav = $(this).data('sostav');

                // Обновляем значения в таблице
                $('#productNameLabel').text(productName);
                $('#description').text(description);
                $('#productImage').attr('src', '' + productImageBase64);
                $('#productPrice').text('Цена:'+productPrice + ' руб. за');
                $('#productWeight').text(productWeight + ' гр.');
                $('#productMassPerFat').text('Массовая доля жира:' + productMassPerFat + '%');
                $('#productfat').text('Жирность:'+productFat);
                $('#productProtein').text('Белки:'+productProtein+'г.');
                $('#productFatty').text('Жиры:'+productFatty + 'г.');
                $('#productCarb').text('Углеводы:'+productCarb + 'г.');
                $('#productEnergyValue').text('Энергетическая ценность:' + productEnergyValue+'ккал');
                $('#productStorageLife').text('Срок хранения:' + productStorageLife + ' дней с момента фасовки');
                $('#productPackageId').text(productPackageId);
                $('#productStorageConditions').text('Условия хранения:'+productStorageConditions);
                $('#productSale').text(productSale);
                $('#productRemain').text(productRemain);
                $('#productArticle').text('Артикул:' + productArticle);
                $('#productSostav').text('Состав:'+productSostav);
            });
        });
    </script>

    <script>
        function getPackageNameById(packageId) {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    type: "GET",
                    url: "/Home/GetPackageName", // Замените на ваш реальный URL
                    data: { packageId: packageId },
                    success: function (packageName) {
                        resolve(packageName);
                    },
                    error: function (xhr, status, error) {
                        reject(error);
                    }
                });
            });
        }

        $(document).ready(function () {
            $(".info-button1").on("click", function () {
                var packageId = $(this).data("package_id");
                var $productSupplier = $("#productSupplier");

                // Вызов функции с использованием Promise
                getPackageNameById(packageId)
                    .then(function (packageName) {
                        // Обновить текст в элементе <p>
                        $productSupplier.text("Упаковка: " + packageName);
                    })
                    .catch(function (error) {
                        console.error("Ошибка при получении имени пакета:", error);
                    });
            });
        });
    </script>
</body>

