
@{
    ViewData["Title"] = "MainPage";
}
@model diplom.Models.ViewModels.ProductViewModel;


<link rel="stylesheet" href="~/css/mainwindow.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>




<body>
    <div class="Main">

        <button id="backToTop" title="Go to top" style="display: none;">
            <i class="fa fa-angle-up"></i>
        </button>

        <!-- Модальное окно -->
        
        <div id="modal" class="modal" style="overflow-y:hidden">
            <!-- Модальный контент -->
            <div class="modal-content">
                @using (Html.BeginForm("MainPage","",FormMethod.Post))
                {
                <div id="loginContent">
                    <span class="close">&times;</span>
                    <h2>Авторизация</h2>
                        @Html.TextBox("phoneLogin","")
                    @Html.TextBox("password","")
                    <button id="loginButton">Войти</button>
                    <button id="switchToRegister">Регистрация</button>
                </div>}
                <div id="registerContent" style="display:none;">
                    <span class="close">&times;</span>
                    <h2>Регистрация</h2>
                    <input type="text" placeholder="Email">
                    <input type="password" placeholder="Пароль">
                    <input type="password" placeholder="Повторите пароль">
                    <input type="text" id="phoneRegister" maxlength="10" placeholder="Номер телефона">
                    <input type="text" placeholder="Ваш город" required>
                    <button id="registerButton">Зарегистрироваться</button>
                </div>

               

            </div>
        </div>

        
        <div id="myModal1" class="modal1" style="overflow-x:hidden">
            <div class="modal-content1">
                <span class="close">&times;</span>
                <h1>Политика Конфиденциальности Интернет-Магазина "Dairy Delights Emporium"</h1>
                <p>Дата вступления в силу: 13.05.2004</p>
                <h1>1. Общие положения</h1>
                <p>Настоящая Политика конфиденциальности (далее – «Политика») действует в отношении всей информации, которую интернет-магазин "Dairy Delights Emporium", расположенный на доменном имени https://localhost:44330/, может получить о Пользователе во время использования сайта, программ и продуктов интернет-магазина.</p>
                <h1>2. Основные понятия</h1>
                <ul>
                    <li>"Оператор" – интернет-магазин "Dairy Delights Emporium", осуществляющий обработку персональных данных, а также определяющий цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия или операции, совершаемые с персональными данными.</li>
                    <li>"Персональные данные" – любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу (субъекту персональных данных).</li>
                    <li>"Пользователь" – любой посетитель веб-сайта интернет-магазина "Dairy Delights Emporium".</li>
                </ul>
                <h1>3. Принципы и цели обработки персональных данных</h1>
                <p>1.Обработка персональных данных в "Dairy Delights Emporium" осуществляется на основе принципов:</p>
                <ul>
                    <li>законности и справедливых оснований;</li>
                    <li>целесообразности обработки;</li>
                    <li>соответствия целей обработки персональных данных.</li>
                </ul>
                <p>2.Цели обработки персональных данных:</p>
                <ul>
                    <li>осуществление деятельности, предусмотренной действующим законодательством Российской Федерации;</li>
                    <li>выполнение обязательств "Dairy Delights Emporium" перед Пользователями относительно предоставления товаров и услуг.</li>
                </ul>
                <h1>4. Права субъекта персональных данных</h1>
                <p>Пользователь имеет право на получение информации касательно обработки его персональных данных. В соответствии с законодательством РФ Пользователь вправе требовать уточнения своих персональных данных, их блокирования или уничтожения в случае, если такие данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки.</p>
                <hi>5. Меры по защите персональных данных</hi>
                <p>"Dairy Delights Emporium" принимает необходимые и достаточные организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ними.</p>
                <h1>6. Изменения в Политике конфиденциальности</h1>
                <p>Оператор имеет право вносить изменения в настоящую Политику. Новая редакция Политики вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики.</p>
                <h1>7. Обратная связь. Вопросы и предложения</h1>
                <p>Все предложения, вопросы, запросы и иные обращения по поводу настоящей Политики и использования своих персональных данных Пользователи вправе направлять по адресу: DairyDelightsEmporium@mail.ru.</p>
            </div>
        </div>


        <header class="_header">
            <div class="logo">
                <a href="#" class="company-name">Dairy Delights Emporium</a>
            </div>
            <div class="mogo">
                <a href="/Home/HomePage"><img src="~/img/Group 84(11).png" style="height:180px;width:180px;margin-top:-5px;" /></a>
            </div>
            <div class="header-buttons">
                <button id="cartButton" class="btn cart-button" style="border: 2px solid black;">
                    <i class="fas fa-shopping-basket"></i>
                </button>
                <button class="btn fav-button" style="border: 2px solid black;">
                    <i class="fas fa-heart"></i>
                </button>
                <button class="btn user-button" style="border: 2px solid black;">
                    <i class="fas fa-user"></i>
                </button>
            </div>
        </header>
        <div  >
            <img class="img1" src="/img/istockphoto-1471815457-1024x1024(2)(1).png" style="height: 1100px;width: 132%;margin-left: -270px;margin-top: -260px;z-index:-2;"/>
        </div>
        <div class="main_body">
            <form method="get">
            <div class="container1" >
                 <div class="search_bar">
                        <input type="text" name="searchQuery" placeholder="Искать в магазине" class="search-bar" />                              
                </div>
                  <center> 
                        <p style="font-family: 'Dancing Script', cursive;font-weight: bold;color:black;margin-top:50px;">Классификация</p>
                 </center>
                 <div class="typess">
                     <div style="grid-column:1;grid-row:1">
                            <div class="gfdgfgdf">
                                <input type="checkbox" id="softCheeseCheckbox" class="gt" />
                         <p>
                            Мягкие сыры
                            </p>
                                <i class="fa fa-question wqwqwq" title="Мягкие сыры-это сыры с мягкой сливочной/творожной консистенцией, произведенные без дополнительной обработки, такой как копчение или плавление. Такие сыры могут быть как с корочкой (плесневой или естественной), так и без нее (свежие сыры). Созревают под влиянием щелочеобразующих бактерий сырной слизи и микроскопических грибов, в отдельности или при совместном их действии, а также молочнокислых бактерий. Сыры изготавливают без дополнительной термообработки или прессования, влага уходит естественным путем.
Этот сыр не бывает больших размеров, иначе сырное тесто слишком спрессуется под давлением собственной тяжести. Часто производится с добавлением особых видов плесени, которые придают этим сырам пряный, аммиачный запах и образуют естественную съедобную корочку. Иногда готовятся с применением овечьего или козьего молока. Срок созревания от нескольких дней до месяца."></i>
                        </div>
                            <div class="gfdgfgdf">
                                <input type="checkbox" id="secondCheckbox" class="gt" />
                        <p>
                            Полутвердые сыры
                        </p>
                                <i class="fa fa-question wqwqwq" title="Полутвердые сыры-это сыры с плотной сливочной консистенцией и пружинистой текстурой. Производятся без особых манипуляций — плавления и копчения. Цвет сырной мякоти — сливочный или светло-желтый. Уже готовый продукт имеет естественную корку или плесневелую, но оба варианта изумительны по своему вкусу и не уступают друг другу. Также могут быть покрыты воском.
Созревают под влиянием молочнокислых бактерий придающим специфические вкус и запах. Иногда подвергаются прессованию, но обычно это самопрессующиеся сыры с средним сроком созревания от 2 недель до 2 месяцев."></i>
                            </div>
                            <div class="gfdgfgdf">
                                <input type="checkbox" id="thirdCheckbox" class="gt" />
                        <p>
                            Твердые сыры
                        </p>
                                <i class="fa fa-question wqwqwq" title="Твердые сыры-это сыры с твердой и плотной консистенцией. Созревают исключительно под влиянием молочнокислых или молочнокислых и пропионовокислых бактерий. Среди твердых сыров принято выделять подкласс – «тёрочные» сыры, трудные в нарезке, и потому использующиеся как дополнение к блюдам в натёртом виде. Например, Пармезан в салате  Цезарь. Твердые сыры бывают покрыты плотной, восковой или натуральной коркой. Обычно эти сыры подвергаются прессованию для удаления сыворотки и долгому созреванию (от 2 месяцев до нескольких лет). Отличие твердых сортов от полутвердых — двойная прессовка и срок созревания."></i>
                            </div>
                            <div class="gfdgfgdf">
                                <input type="checkbox" id="fourthCheckbox" class="gt" />
                        <p>
                            Плесневые сыры
                        </p>
                                <i class="fa fa-question wqwqwq" title="Плесневые сыры - это разновидность сыров, которые подвергаются инфицированию или инокуляции плесенью, микроорганизмами грибкового происхождения. Этот процесс придает сыру его характерный вкус, аромат и текстуру. Плесневые сыры имеют интенсивный вкус и аромат, часто с нотами грибов, орехов, и иногда солености или кислотности. Вкус и аромат могут варьировать в зависимости от вида плесени и сыра. Для создания плесневых сыров молоко подвергается ферментации, после чего плесень добавляется в сырное тесто или наносится на поверхность сыра. Затем сыр зреет в специальных условиях для поддержания роста плесени и развития характерных свойств. Плесневые сыры часто подают с хлебом, крекерами, фруктами и вином, что создает идеальное сочетание вкусов и ароматов."></i>

                                
                            </div>
                            <div class="gfdgfgdf">
                                <input type="checkbox" id="fifthCheckbox" class="gt" />
                        <p>
                            Сыры с добавками
                        </p>

                                <i class="fa fa-question wqwqwq" title="Сыры с добавками представляют собой разновидность сыров, в которых к сырной массе добавляются различные ингредиенты, чтобы придать им дополнительные вкусовые, текстурные или ароматические особенности. Сыры с добавками могут содержать разнообразные ингредиенты, включая травы, специи, орехи, сухофрукты, оливки, чернику, шоколад, чили, вяленые помидоры и многие другие. Эти добавки могут быть внесены в сыр в процессе производства или распределены по сырной массе. Добавки придают сыру дополнительные вкусовые ноты, что делает его более интересным и разнообразным. Например, сыры с травами могут иметь свежий и зеленый вкус, в то время как сыры с орехами могут быть более насыщенными и горькими. Сыры с добавками создаются путем введения ингредиентов в сырную массу на различных этапах производства. Это может быть сделано во время смешивания сырного теста, на этапе формования сыра или при покрытии коркой. Сыры с добавками обычно подают так же, как и обычные сыры, часто в сочетании с хлебом, фруктами, вином и другими дополнительными ингредиентами, которые подчеркивают их уникальные характеристики."></i>
                            </div>
                           
                        </div>
                 </div>

            </div>
            </form>
            <div class="container2">
                <p id="userNameDisplay"></p>
                <select name="filter" id="filter">
                    <option value="by_popularity">Сортировка</option>
                    <option value="by_alphabet">По алфавиту</option>
                    <option value="cheaper">Дешевле</option>
                    <option value="expensive">Дороже</option>
                </select>
                <label class="count_product">@Model.ProductCount товар</label>
            </div>

            <div class="container3" id="container3">
                @if (Model.HasResults)
                {
                    @foreach (Product item in Model.Products)
                    {
                        <div class="col-sm-4">
                            <div class="product-card">
                                <div class="card-thumbnail">
                                    <img class="img-responsive" src="@item.product_img" style="height:300px;width:400px">
                                </div>
                                <div class="card-content">
                                    <div class="send">
                                        <img class="basket" src="/img/basket.png" />
                                        <i class="fa fa-send fa-2x"></i>
                                    </div>
                                    @if (item.product_sale > 0)
                                    {
                                        <!-- Покажите div, только если product_sale больше 0 -->
                                        <div class="sale">-@item.product_sale%</div>
                                    }
                                    <h1 class="card-title">
                                        @item.Name_product
                                    </h1>
                                    <h2 class="card-sub-title">
                                        @item.product_article
                                    </h2>
                                    <p class="description">
                                        @item.product_description_
                                    </p>
                                    <div style="display:flex">
                                        @if (item.product_sale > 0)
                                        {
                                            <p class="price">
                                                <s>@item.product_price руб.</s>
                                                @(Math.Round(Convert.ToDecimal(item.product_price - (item.product_price * item.product_sale / 100)))) руб.
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="price" id="price_@item.IdProduct">Цена: @(Math.Round(Convert.ToDecimal(item.product_price))) руб.</p>
                                        }
                                        <p class="price1">за @item.product_weight грамм </p>
                                        
                                    </div>
                                    
                                    <ul class="list-inline post-meta">
                                        <li class="time-stamp">
                                            <i class="fa fa-clock-o"></i> Массовая доля жира: @item.product_mass_per_fat%
                                        </li>
                                        <li class="time-stamp">
                                            <i class="fa fa-clock-o"></i> Энергетическая ценность: @item.product_fatty кДж.
                                        </li>
                                    </ul>
                                    <button class="info-button1" data-toggle="modal" data-target="#exampleModal" title="Подробнее"
                                            data-nametitle="@item.Name_product"
                                            data-idd="@item.IdProduct"
                                            data-description="@item.product_description_"
                                            data-price="@item.product_price"
                                            data-weight="@item.product_weight"
                                            data-mass_per_fat="@item.product_mass_per_fat"
                                            data-fat="@item.product_fat"
                                            data-protein="@item.product_protein"
                                            data-fatty="@item.product_fatty"
                                            data-carb="@item.product_carb"
                                            data-energy_value="@item.product_energy_value"
                                            data-storage_life="@item.product_storage_life"
                                            data-package_id="@item.product_package_id"
                                            data-storage_conditions="@item.product_storage_conditions"
                                            data-sale="@item.product_sale"
                                            data-remain="@item.product_remain"
                                            data-article="@item.product_article"
                                            data-sostav="@item.product_sostav"
                                            data-img="@item.product_img"
                                            data-provider_id="@item.Provider_id"
                                        data-package_name=""> 
                                        <i class="fa fa-question"></i>
                                    </button>
                                    <button class="fav-button1" title="В избранное">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                </div>
                            </div>
                        </div>                       
                    }
                }
                else
                {
                    <p class="error">К сожалению, по вашему запросу ничего не найдено.</p>
                }
        </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="">
                <div class="modal-dialog">
                    <div class="modal-content2">
                        <div class="modal-header" style="font-family: 'Dancing Script', cursive;font-weight:bold;font-size:20px">
                            <h5 class="modal-title" id="exampleModalLabel" style="margin-top:-5px">
                                Информация о товаре
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: transparent;border: none;margin-top:-55px">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="margin-top:-15px;">
                                <div class="col-sm-3 tovarimg"></div>
                                <div class="col-sm-9 tovarinfo"></div>
                            </div>
                            <hr style="color: black;background: black;border: black;height: 1px;">
                             <form class="formmy">                              
                                <div class="form-groupimg">
                                    <img id="productImage" class="img-responsive" style="width:580px;height:420px;" />
                                </div>
                                <div class="sale1" ></div>

                                <div style="display:block;padding-left:20px;grid-column:2;grid-row:1">
                                <div class="ihih">
                                <div class="form-groupdesc">
                                    <center><label id="productNameLabel" for="exampleFormControlInput1"></label></center>
                                </div>

                                <div class="aboba">
                                <div class="form-groupprice">
                                    <center><label id="productNameLabel" for="exampleFormControlInput1"></label></center>
                                    <p id="description" class="form-control" readonly>
                                        <div style="display:flex;gap:20px;margin-top:-25px">
                                    <P>Цена:</P>
                                            <p id="productPrice" class="form-control" readonly></p>
                                    <p id="productWeight" class="form-control" readonly></p>
                                     </div>
                                     <p id="productSostav" style="margin-top:-10px" class="form-control" readonly></p>
                                      <p id="productArticle" class="form-control" readonly></p>                                      
                                      <div style="display:block;gap:10px"> @* для поставщика и упаковки  *@       
                                          <p id="productSupplier"> </p>
                                          <p id="productpa"></p>
                                                    <p id="productrate"></p>
                                                    @* <div id="rating-stars"></div> *@

                                     </div>
                                      </div>

                                </div>

                                    <div class="gf" style="display:flex">
                                    <button id="buttton" class="btn cart-button" style="border: 2px solid black;grid-row:1;grid-column:2;display:flex;align-items: center;width:fit-content">
                                        <i class="fas fa-shopping-basket">В корзину</i>                                       
                                    </button>
                                    <button class="btn fav-button" style="border: 2px solid black;grid-row:1;grid-column:2;margin-left:20px">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                    </div>
                                </div>
                                </div>
                                <div id="myTabs">
                                    <div class="tab" data-tab="tab-info">Подробная информация</div>
                                    <div class="tab" data-tab="tab-reviews">Отзывы</div>
                                </div>
                                <div id="myTabsContent">
                                    <div class="tab-content" id="tab-info-content">
                                <div class="gav">
                                    
                                    
                                        
                                    <div style="margin-top:30px">
                                    <div class="form-groupart">
                                        <p id="productMassPerFat" class="form-control" readonly></p>                                       
                                        <p id="productfat" class="form-control" readonly></p>
                                    </div>
                                    <div class="form-groupfat" style="display:flex;gap:5px;margin-top:-20px">
                                        <p>Пищевая ценность: </p>
                                        <p id="productProtein" class="form-control" readonly></p>
                                        <p id="productFatty" class="form-control" readonly></p>
                                        <p id="productCarb" class="form-control" readonly></p>
                                        <p>на 100 гр.</p>
                                    </div>
                                    <div class="form-groupfat" style="margin-top:-20px">
                                        <p id="productEnergyValue" class="form-control" readonly></p>
                                        <p id="productStorageLife" class="form-control" readonly></p>
                                        <p id="productStorageConditions" class="form-control" readonly></p>
                                    </div>
                                    </div>
                                                                      
                                
                                </div>
                                </div>
                                    <div class="tab-content pagination" id="tab-reviews-content">
                                        <!-- Ваши отзывы и элементы для пагинации здесь -->
                                        <p id="productrate2"></p>

                                        <div class="Rates">
                                            <div style="display:flex;">
                                                <div>
                                                </div>
                                                <div>
                                                    <p id="commentary"></p>
                                                    <div id="reviewsContainer">
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </form> 


                        </div>
                    </div>
                </div>
            </div>




        <div class="container4">
                <footer class="footer">
                    <div class="footer-left col-md-4 col-sm-6">
                        <p class="about">
                            <span> О нашей компании</span> "Dairy Delights Emporium - это гурманский рай для любителей сыра. С особой страстью к мастерству и качеству, мы предлагаем эксклюзивный ассортимент сыров, от классических французских бри и камамберов до редких и экзотических вариаций со всего мира. Наша миссия — дарить неповторимый вкус и наслаждение каждому клиенту, подбирая идеальные сыры для их стола, будь то повседневный ужин или особый праздничный приём. В Cheese Delight вы найдете сыр, который удовлетворит ваш гурманский вкус и превратит каждое блюдо в произведение искусства."
                        </p>
                        <div class="icons">
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-vk"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="footer-center col-md-4 col-sm-6">
                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p><span> Наш адресс</span> Смоляной переулок,2</p>
                        </div>
                        <div>
                            <i class="fa fa-phone"></i>
                            <p> +7 9881 761 084</p> |
                            <p> Ежедневно с 8 до 20</p>
                        </div>
                        <div>
                            <i class="fa fa-envelope"></i>
                            <p><a href="#"> DairyDelightsEmporium@mail.ru</a></p>
                        </div>
                    </div>
                    <div class="footer-right col-md-4 col-sm-6">
                        <h2> Dairy Delights <span> Emporium</span></h2>
                        <p class="menu">
                            <a href="#"> Каталог</a> |
                            <a href="@Url.Action("AboutUsPage", "Home")" onclick="scrollToElement('mya')"> О нас</a> |
                            <a href="@Url.Action("AboutUsPage", "Home")#contacts"> Контакты</a> |
                            <a href="#myModal1" id="modalOpen"> Политика конфиденциальности</a>
                        </p>
                        <p class="name"> Dairy Delights Emporium; 2004</p>
                    </div>
                </footer>
        </div>
        </div>

@*         <svg width="0" height="0" style="display:none;">
            <!-- Определение символа (звезды) -->
            <symbol id="star" viewBox="0 0 24 24">
                <path fill="#FFD700" d="M12 2l2.4 7.2h7.6l-6 4.8 2.4 7.2-6-4.8-6 4.8 2.4-7.2-6-4.8h7.6" />
            </symbol>

            <!-- Определение маски для отображения половины звезды -->
            <mask id="half" maskContentUnits="objectBoundingBox">
                <rect width="0.5" height="1" fill="white" />
                <rect x="0.5" width="0.5" height="1" fill="black" />
            </mask>
        </svg> *@
    </div>

    <script>
        function scrollToElement(elementId) {
            var element = document.getElementById(elementId);
            if (element) {
                element.scrollIntoView({ behavior: 'smooth' });
            }
        }
    </script>

@*     <script>
        $(document).ready(function () {
            $('.info-button1').on('click', function () {
                // Получаем IdProduct из data-idd
                var selectedProductId = $(this).data('idd');
                console.log('Selected Product ID:', selectedProductId);

                // Ваш дополнительный код обработки
            });
        });
    </script> *@

    <script> 
        $(document).ready(function () {
            // Обработчик для первого чекбокса
            $('#softCheeseCheckbox').change(function () {
                updateProducts();
            });

            // Обработчик для второго чекбокса
            $('#secondCheckbox').change(function () {
                updateProducts();
            });

            // Обработчик для третьего чекбокса
            $('#thirdCheckbox').change(function () {
                updateProducts();
            });

            // Обработчик для четвертого чекбокса
            $('#fourthCheckbox').change(function () {
                updateProducts();
            });

            // Обработчик для пятого чекбокса
            $('#fifthCheckbox').change(function () {
                updateProducts();
            });

            function updateProducts() {
                // Получаем значения всех чекбоксов
                var isChecked = $('#softCheeseCheckbox').prop('checked');
                var isSecondChecked = $('#secondCheckbox').prop('checked');
                var isThirdChecked = $('#thirdCheckbox').prop('checked');
                var isFourthChecked = $('#fourthCheckbox').prop('checked');
                var isFifthChecked = $('#fifthCheckbox').prop('checked');

                // Устанавливаем categoryId в 1, если первый чекбокс отмечен, иначе в null
                var categoryId = isChecked ? 1 : null;

                // Устанавливаем secondCategoryId в 2, если второй чекбокс отмечен, иначе в null
                var secondCategoryId = isSecondChecked ? 2 : null;

                // Устанавливаем thirdCategoryId в 3, если третий чекбокс отмечен, иначе в null
                var thirdCategoryId = isThirdChecked ? 3 : null;

                // Устанавливаем fourthCategoryId в 4, если четвертый чекбокс отмечен, иначе в null
                var fourthCategoryId = isFourthChecked ? 4 : null;

                // Устанавливаем fifthCategoryId в 5, если пятый чекбокс отмечен, иначе в null
                var fifthCategoryId = isFifthChecked ? 5 : null;

                // Отправляем запрос на сервер с обновленными значениями категорий
                $.ajax({
                    url: '/Home/MainPage',
                    type: 'GET',
                    data: {
                        categoryId: categoryId,
                        secondCategoryId: secondCategoryId,
                        thirdCategoryId: thirdCategoryId,
                        fourthCategoryId: fourthCategoryId,
                        fifthCategoryId: fifthCategoryId,
                        // Другие параметры запроса, если нужны
                    },
                    success: function (data) {
                        // Обновляем содержимое страницы, например, заменяем список продуктов
                        $('#container3').html(data);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    </script>
    

</body>

