

<link rel="stylesheet" href="~/css/User_like_page.css" />
<script src="~/js/site.js"></script>
@using diplom.Models.ViewModels
@model ULVM

<header class="_header">
    <div class="logo">
        <a href="/Home/MainPage" class="company-name">Dairy Delights Emporium</a>
    </div>
    <div class="mogo">
        <a href="/Home/AboutUsPage"><img src="~/img/Group 84(11).png" style="height:180px;width:180px;margin-top:-5px;" /></a>
    </div>
    <div class="header-buttons">
        <button id="cartButton" class="btn cart-button" style="border: 2px solid black;">
            <i class="fas fa-shopping-basket"></i>
        </button>
        <a href="/Home/User_like" class="btn fav-button" style="border: 2px solid black;width: 37px;height: 37px;">
            <i class="fas fa-heart" style="margin-top: 20%;margin-left: 13%;color:red"></i>
        </a>
    </div>
</header>
<div class="class" style="margin-top:6%">
    @foreach (var userLike in Model.User_Likes)
    {
        <div class="catalog_card">
            <div class="card_image">
                <img alt="@userLike.Product.product_img" style="height:100%;padding:10%" src="@userLike.Product.product_img">
            </div>
            <div class="card_main">
                <div class="card_main_name">
                    <h3>@userLike.Product.Name_product</h3>
                </div>
                <div class="card_main_description">
                    <h3>@userLike.Product.product_description_</h3>
                </div>
                <div class="card_main_weight">
                    <h3>Вес: @userLike.Product.product_weight</h3>
                </div>
                
                <div class="card_main_cost">
                    <h3>Цена: @userLike.Product.product_price</h3>
                </div>
                <div class="card_main_btn">
                    <button class="card_main_btn_style" onclick="removeFromFavorites(@userLike.Product.IdProduct)">Убрать из избранного</button>
                </div>
            </div>
        </div>
    }
</div>



